<h1>User#show</h1>

<% if @user.buddy_sheet.present? %>
  <%= link_to "バディシート編集", edit_user_buddy_sheet_path(user_id: @user.id, id: @user.buddy_sheet.id) %>
<% end %>

<%= link_to "バディシート作る", new_user_buddy_sheet_path(@user) %>


