// Place all the styles related to the buddy_sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#buddy-study-table{
  width: 95%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  min-width: 1260px;
  thead{
    border-bottom: 1px solid #aaa;
  }
  
  th{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 12px 15px;
  }

  tbody{
    tr{
      border-bottom: 1px dotted #aaa
    }
  }
  .edit_btn {
      position: relative;
      display: inline-block;
      padding: 0.25em 0.5em;
      text-decoration: none;
      color: #FFF;
      background: #668ad8;/*背景色*/
      border-bottom: solid 2px #4868ad;/*少し濃い目の色に*/
      border-radius: 4px;/*角の丸み*/
      box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
      font-weight: bold;
  }

  .edit_btn:active {
      border-bottom: solid 2px #668ad8;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
}

.schedule_edit_form, .result_edit_form, .comment_edit_form {
  display: none;
}
